body{
margin: 0;
padding: 0;
background-color: #441b1b;
color: magenta;
background-image: url('cssBg2.png');
background-repeat: no-repeat;
background-size: cover;
}

#deck-choice{
  display: block;
  font-size: 1.25em;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

#choices{
  /* outline: 1px solid white; */
  width: fit-content;
display: block;
margin:0 auto 0.5em auto;
}

#reset, #shuffle{
  line-height: 45%;
  height: 1.75em;
  display: block;
  margin:0.75em auto;
  font-weight:bold;
  border-radius:0.4em;
}

#preserve{
  display: block ;
  text-align: center;
  font-weight:bold ;
  width: 100vw;
  margin:0 auto;
  font-size: 1.25em;
}

ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
} 

.briscola{
  width: 67px;
  height: 67px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:black;
  font-size: 1em;
  font-weight:bold;
  border-radius:10%;
  list-style: none;
  margin:0.1em;
}

.poker{
  margin:0.1em;
  border-radius:10%;
  color:black ;
  background-color:wheat;
  width:60px;
  height:60px;
  padding-left: 0.1em;
  padding-right: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  border:1px solid black;
  font-weight: bold;
}

.briscaSpan{
  padding :0.1em;
}
